*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    
}

nav {
    height: 70px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 35px;
    background: #2a6c78;
}

ul{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 70px;
}
li{
    list-style: none;
}
img{
    width: 300px;
    height: 70px;
    background-color: #2a6c78;
    object-fit: contain;
    cursor: pointer;
}
a {
    position: relative;
    text-decoration: none;
    font-family: 'roboto' sans-serif;
    color: #a2b4b8;
    font-size: 18px;
    letter-spacing: 0.5px;
    padding: 0 10px;
    cursor: pointer;
}

/* this is for the line below the anchor tags */
a:after {
    content: "";
    position: absolute;
    background-color: #f7078f;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

a:hover {
    color: #ffffff;
}

/* this is for the line below the anchor tags */
a:hover:after {
    width: 100%;
}